/* Глобальные стили */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  font-size: 16px;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #212121;
  color: #ffc107;
}

main {
  margin-bottom: 25px;
}

/* Шапка и подвал */
.header,
.footer {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px 0;
  background-color: #000;
  color: #ffc107;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
}

header {
  position: sticky;
  top: 0;
  z-index: 1000;
}

/* Основное содержимое страницы */
.content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

/* Меню навигации */
.navigation ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  padding: 10px 0;
}

.navigation ul li a {
  text-decoration: none;
  color: inherit;
  transition: color 0.3s ease;
}

.navigation ul li a:hover {
  color: #dc3545;
}

/* Основной баннер */
.hero {
  text-align: center;
  padding: 80px 0;
}

.hero h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

.hero p {
  font-size: 36px;
  margin-bottom: 40px;
}

.hero img {
  width: 350px;
  height: auto;
  margin: 0 auto;
  display: block;
}

/* Секция 'Обо мне' */
.about-me {
  padding: 40px 0;
  text-align: center;
}

.about-me p {
  color: #000;
}

.history {
  margin-top: 35px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 30px;
}

.history div {
  flex-basis: calc(50% - 60px);
  padding: 20px;
  background-color: #eaeaea;
  border-radius: 10px;
}

/* Секция 'Мои навыки' */
.skills {
  padding: 40px 0;
  text-align: center;
  padding: 75px;
}

.skill-list {
  margin-bottom: 50px;
}

.skill-list p {
  font-size: 24px;
}

.technologies,
.technologies h3 {
  margin-bottom: 35px;
}

.technologies h3 {
  font-size: 25px;
}

.technologies ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
  list-style: none;
  padding: 20px;
  background-color: #212529;
  color: #fff;
  font-size: 20px;
}

.technologies ul li {
  flex-grow: 1;
  text-align: center;
  padding: 10px;
  border: 2px solid #fff;
  border-radius: 5px;
}

.portfolio h2,
.portfolio h3 {
  text-align: center;
  margin-bottom: 20px;
}

.portfolio p {
  font-size: 22px;
  width: 100%;
  padding-bottom: 20px;
}

.project-title {
  font-weight: 500;
  color: #007bff;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  margin-bottom: 25px;
}

.project {
  flex: 0 1 30%;
  max-width: 33%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.project img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.project a {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.project a:hover {
  background-color: #0056b3;
}

button,
a.btn-contact,
a.btn-itog {
  text-align: center;
  text-decoration: none;
  color: yellow;
  margin-top: 25px;
  display: block;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  background-color: red;
  transition: background-color 0.3s ease;
}

button:hover,
a.btn-contact:hover {
  background-color: #00fb21;
}

/* Контакты */
.contact {
  padding: 40px 0;
  text-align: center;
}

.contact form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}

.contact input,
.contact button {
  padding: 12px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
}

.contact input {
  width: 80%;
  max-width: 400px;
}

.preview,
.variants {
  width: 100%;
  padding: 25px 25px;
  text-align: center;
  margin-top: 25px;
}

.variants {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 30px;
}

.variant {
  flex-basis: calc(50%-50px);
  padding: 20px;
  background-color: #eaeaea;
  border-radius: 10px;
  color: #000;
}

.variant li {
  list-style-type: none;
  text-align: left;
  margin: 15px 15px;
  margin-left: 150px;
}

.variant header,
.variant p,
.variant.block {
  padding: 15px;
}

.itog {
  text-align: center;
  padding: 20px;
  background-color: #ffd700;
  border-radius: 10px;
  color: #000;
}

.itog div {
  margin: 30px;
}

/* Медиа-запросы для адаптации к разным экранам */
@media (max-width: 479px) {
  body {
    font-size: 14px;
  }

  .content {
    padding: 0 10px;
  }

  .hero h1 {
    font-size: 32px;
  }

  .hero p {
    font-size: 24px;
  }

  .projects {
    flex-direction: column;
  }

  .project {
    flex: 0 1 100%;
    max-width: 100%;
  }

  .navigation ul {
    flex-direction: column;
    align-items: stretch;
  }

  .navigation ul li a {
    padding: 10px 0;
  }

  .skills {
    padding: 20px 0;
  }

  .skill-list p {
    font-size: 18px;
  }

  .technologies ul {
    flex-direction: column;
    gap: 10px;
  }

  .technologies ul li {
    flex-grow: 0;
  }

  .contact input {
    width: 100%;
  }
}

@media (min-width: 480px) and (max-width: 767px) {
  body {
    font-size: 15px;
  }

  .content {
    padding: 0 20px;
  }

  .hero h1 {
    font-size: 38px;
  }

  .hero p {
    font-size: 28px;
  }

  .projects {
    flex-direction: row;
  }

  .project {
    flex: 0 1 45%;
    max-width: 45%;
  }

  .navigation ul {
    flex-direction: row;
    justify-content: space-around;
  }

  .skills {
    padding: 30px 0;
  }

  .skill-list p {
    font-size: 20px;
  }

  .technologies ul {
    flex-direction: row;
    gap: 10px;
  }

  .technologies ul li {
    flex-grow: 1;
  }

  .contact input {
    width: 70%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  body {
    font-size: 16px;
  }

  .content {
    padding: 0 30px;
  }

  .hero h1 {
    font-size: 42px;
  }

  .hero p {
    font-size: 30px;
  }

  .projects {
    flex-direction: row;
  }

  .project {
    flex: 0 1 31%;
    max-width: 31%;
  }

  .navigation ul {
    flex-direction: row;
    justify-content: space-around;
  }

  .skills {
    padding: 40px 0;
  }

  .skill-list p {
    font-size: 22px;
  }

  .technologies ul {
    flex-direction: row;
    gap: 20px;
  }

  .technologies ul li {
    flex-grow: 1;
  }

  .contact input {
    width: 60%;
  }
}

/* Медиа-запросы */
@media (max-width: 479px) {
  /* Стили для экранов шириной до 479 пикселей */
  .hero h1 {
    font-size: 32px;
  }

  .hero p {
    font-size: 28px;
  }

  .history div {
    flex-basis: 100%;
  }

  .project {
    flex: 0 1 90%;
    max-width: 95%;
  }

  .skill-list p {
    font-size: 20px;
  }

  .technologies h3 {
    font-size: 20px;
  }

  .technologies ul li {
    font-size: 16px;
  }

  .portfolio p {
    font-size: 18px;
  }

  .navigation ul {
    flex-direction: column;
    align-items: center;
  }

  .navigation ul li a {
    font-size: 14px;
  }

  .content {
    padding: 0 10px;
  }

  .header,
  .footer {
    padding: 10px 0;
  }

  .itog {
    padding: 10px;
  }

  .preview,
  .variants {
    padding: 10px;
  }

  .variant {
    flex-basis: 100%;
  }

  .variant li {
    margin-left: 70px;
  }
}

@media (min-width: 480px) and (max-width: 767px) {
  /* Стили для экранов шириной от 480 до 767 пикселей */
  .hero h1 {
    font-size: 38px;
  }

  .hero p {
    font-size: 30px;
  }

  .history div {
    flex-basis: 45%;
  }

  .project {
    flex: 0 1 46%;
    max-width: 47%;
  }

  .skill-list p {
    font-size: 22px;
  }

  .technologies h3 {
    font-size: 23px;
  }

  .technologies ul li {
    font-size: 18px;
  }

  .portfolio p {
    font-size: 20px;
  }

  .navigation ul {
    flex-direction: row;
    justify-content: space-evenly;
  }

  .navigation ul li a {
    font-size: 16px;
  }

  .content {
    padding: 0 15px;
  }

  .header,
  .footer {
    padding: 15px 0;
  }

  .itog {
    padding: 15px;
  }

  .preview,
  .variants {
    padding: 15px;
  }

  .variant {
    flex-basis: 42%;
  }

  .variant li {
    margin-left: 110px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  /* Стили для экранов шириной от 768 до 991 пикселя */
  .hero h1 {
    font-size: 44px;
  }

  .hero p {
    font-size: 34px;
  }

  .history div {
    flex-basis: 43%;
  }

  .project {
    flex: 0 1 31%;
    max-width: 32%;
  }

  .skill-list p {
    font-size: 24px;
  }

  .technologies h3 {
    font-size: 24px;
  }

  .technologies ul li {
    font-size: 19px;
  }

  .portfolio p {
    font-size: 22px;
  }

  .navigation ul {
    justify-content: space-around;
  }

  .navigation ul li a {
    font-size: 17px;
  }

  .content {
    padding: 0 20px;
  }

  .header,
  .footer {
    padding: 20px 0;
  }

  .itog {
    padding: 20px;
  }

  .preview,
  .variants {
    padding: 20px;
  }

  .variant {
    flex-basis: 40%;
  }

  .variant li {
    margin-left: 130px;
  }
}

@media (min-width: 992px) and (max-width: 1024px) {
  /* Стили для экранов шириной от 992 до 1024 пикселей */
  .hero h1 {
    font-size: 46px;
  }

  .hero p {
    font-size: 36px;
  }

  .history div {
    flex-basis: 49%;
  }

  .project {
    flex: 0 1 29%;
    max-width: 30%;
  }

  .skill-list p {
    font-size: 26px;
  }

  .technologies h3 {
    font-size: 27px;
  }

  .technologies ul li {
    font-size: 22px;
  }

  .portfolio p {
    font-size: 24px;
  }

  .navigation ul {
    justify-content: space-between;
  }

  .navigation ul li a {
    font-size: 18px;
  }

  .content {
    padding: 0 25px;
  }

  .header,
  .footer {
    padding: 25px 0;
  }

  .itog {
    padding: 25px;
  }

  .preview,
  .variants {
    padding: 25px;
  }

  .variant {
    flex-basis: 48%;
  }

  .variant li {
    margin-left: 140px;
  }
}

@media (min-width: 1024px) {
  /* Стили для экранов шириной от 1024 пикселей */
  .hero h1 {
    font-size: 52px;
  }

  .hero p {
    font-size: 40px;
  }

  .history div {
    flex-basis: 48%;
  }

  .project {
    flex: 0 1 30%;
    max-width: 31%;
  }

  .skill-list p {
    font-size: 28px;
  }

  .technologies h3 {
    font-size: 30px;
  }

  .technologies ul li {
    font-size: 24px;
  }

  .portfolio p {
    font-size: 26px;
  }

  .navigation ul {
    justify-content: space-between;
  }

  .navigation ul li a {
    font-size: 20px;
  }

  .content {
    padding: 0 30px;
  }

  .header,
  .footer {
    padding: 30px 0;
  }

  .itog {
    padding: 30px;
  }

  .preview,
  .variants {
    padding: 30px;
  }

  .variant {
    flex-basis: 47%;
  }

  .variant li {
    margin-left: 160px;
  }
}

@media (max-height: 600px) {
  /* Стили для экранов высотой до 600 пикселей */
  .hero {
    padding: 40px 0;
  }

  .hero h1 {
    font-size: 36px;
  }

  .hero p {
    font-size: 26px;
  }

  .about-me {
    padding: 20px 0;
  }

  .skills {
    padding: 20px 0;
  }

  .contact {
    padding: 20px 0;
  }

  .header,
  .footer {
    padding: 10px 0;
  }

  .itog {
    padding: 10px;
  }

  .preview,
  .variants {
    padding: 10px;
  }

  .variant {
    padding: 10px;
  }

  .variant li {
    margin-left: 50px;
  }
}

@media (min-height: 601px) {
  /* Стили для экранов высотой от 601 пиксель */
  .hero {
    padding: 60px 0;
  }

  .hero h1 {
    font-size: 48px;
  }

  .hero p {
    font-size: 36px;
  }

  .about-me {
    padding: 30px 0;
  }

  .skills {
    padding: 30px 0;
  }

  .contact {
    padding: 30px 0;
  }

  .header,
  .footer {
    padding: 15px 0;
  }

  .itog {
    padding: 15px;
  }

  .preview,
  .variants {
    padding: 15px;
  }

  .variant {
    padding: 15px;
  }

  .variant li {
    margin-left: 100px;
  }
}
